<section class="mt-5">
   <h1>🇨🇴 🇦🇷 🇺🇸 🇦🇸</h1>
<table class="table table-md mt-2 w-full">
 <thead>
    <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
    </tr>
 </thead>
<tbody>
   @for(country of countries(); track country.uuid; let index=$index){
   <tr>
      <td>
         {{index+1}}
      </td>
       <td>
         {{country.flag}}-🏴‍☠️
      </td>
      <td>
         <img [src]="country.flagSvg" [alt]="country.name" class="w-10" >
      </td>
         <td>
         {{country.name}}
      </td>
      <td>
         {{country.capital}}
      </td>
      <td>
         {{country.population}}
      </td>
      <td>
         <a class="link-primary cursor-pointer">Más información</a>
      </td>    
   </tr>
   }
</tbody>
</table>
</section>
